<ngx-http-loader [opacity]="0.9" [loader]="loader.ELLIPSIS" [iconColor]="'white'" [backdropBackgroundColor]="'black'">
</ngx-http-loader>
<div class="container d-flex align-items-center justify-content-center h-100 w-100">
  <div class="d-flex flex-wrap bg-light p-5 shadow rounded-3  flex-row justify-content-between">
    <div class="card bg-light m-5" style="max-width: 18rem; flex-basis: 48%;">
      <div class="card-header">Account Balance: {{userA.balance / 100}} ({{userA.currency}})</div>
      <div class="card-body">
        <h5 class="card-title">User ID: {{userA.id}}</h5>
        <form class="form-group" (ngSubmit)="transferMoney(userA.id, userB.id)">
          <div class="form-control mb-2">
            <label for="user1">Select User to Send Money To</label>
            <select name="user1" [(ngModel)]="recipient_id" id="user1" class="form-select">
              <option>{{userB.id}}</option>
            </select>
          </div>
          <div class="form-control mb-2">
            <label for="amount1">Select the Amount of Money to Transfer (in EUR)</label>
            <input name="amount1" [(ngModel)]="amount" id="amount1" class="form-control">
          </div>
          <button type="submit" class="btn btn-dark">Send Money</button>
        </form>
      </div>
    </div>
    <div class="card text-white bg-dark m-5" style="max-width: 18rem; flex-basis: 48%;">
      <div class="card-header">Account Balance: {{userB.balance / 100}} ({{userB.currency}})</div>
      <div class="card-body">
        <h5 class="card-title">User ID: {{userB.id}}</h5>
        <form class="form-group" (ngSubmit)="transferMoney(userB.id, userA.id)">
          <div class="form-control mb-2">
            <label for="user">Select User to Send Money To</label>
            <select name="user" [(ngModel)]="recipient_id" id="user" class="form-select">
              <option>{{userA.id}}</option>
            </select>
          </div>
          <div class="form-control mb-2">
            <label for="amount">Select the Amount of Money to Transfer (in EUR)</label>
            <input name="amount" [(ngModel)]="amount" id="amount" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Send Money</button>
        </form>
      </div>
    </div>
  </div>
</div>
